div.wrapper {
    text-align: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    max-width: 800px;
    min-width: 800px;

}

/* Game Window */
div.game_window {
    width: auto;
    height: 600px;
    background-color: rgb(235, 231, 231);
    box-shadow: 0 0 5px rgb(66, 63, 92);
}
    div.menu {
        width: 40%;
        height: 20%;
        position: relative;
        left: 30%;
        top: 40%;
    }
        button.continue, button.new_game {
             position: relative;
             height: 47%;
             width: 100%;
             background-color: rgb(238, 214, 94);
             border: 2px solid lightgray;
             border-radius: 8px;
             font-size: 18px;
        }
            button.continue:active, button.new_game:active {
                box-shadow: 0 0 5px rgb(66, 63, 92);
            }
            button.continue {
                margin-bottom: 2%;
            }

    /*Game processing*/
    div.top_menu_for_resurces {
        width: 90%;
        height: 20%;
        margin: 10px auto;
    }
        div.resurce_window {
            border: solid lightgrey 1px;
            box-shadow: 0 0 5px black;
            border-radius: 10%;
            display: inline-block;
            background-color: khaki;
            height: 90%;
            width: 30%;
            margin-right: 4%;
            margin-top: 1%;
        }
        div.city_size_window {
            margin-right: 0;
        }
            div.resurce_image {
                height: 100px;
                width: 90px;
                margin: 10px 10px;
                float: left;
            }
                .resurce_image img {
                    width: 90%;
                    height: 90%;
                }
            div.resurce_count {
                display: inline-block;
                height: 28px;
                width: 80px;
                float: right;
                margin: 31px 10px 10px 0;
                text-align: center;
                border: 1px solid black;
                border-radius: 35%;
                font-size: 18px;
                padding-top: 16px;
            }

    /* /Game processing*/
/* /Game Window */

